body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  height: 100%;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
}

.header {
  align-self: flex-start;
  margin-left: 11rem;
}

.title {
  margin-bottom: 0.5rem;
}

.input {
  width: 20rem;
  height: 3rem;
  padding: 0.3rem;
  font-size: 2rem;
  /* font-family: ; */
  border: none;
  background-color: antiquewhite;
}

.btn--add-task {
  width: 60px;
  height: 3rem;
  justify-self: center;
  background-color: antiquewhite;
  border: 1px solid rgb(103, 96, 145);
  border-radius: 2px;
}

.btn--add-task:hover {
  cursor: pointer;
  background-color: rgb(248, 241, 233);
  transition: 0.4s ease-in;
}

.tasks-container {
  background-color: transparent;
  box-shadow: 0px 0px 15px 5px rgba(2, 37, 2, 0.144);
  width: 80%;
  height: 75%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.task-name {
  font-size: 1.5rem;
  padding: 0.7rem 1.2rem;
  /* height: 30px; */
  width: 50%;
  background-color: aliceblue;
  display: inline-block;
}

.task {
  margin: 0.4rem 1.2rem;
}

.task-done {
  text-decoration: line-through;
  color: rgb(70, 70, 70);
  font-style: italic;
}

.btn {
  font-size: 2rem;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  box-shadow: 0px 0px 15px 5px rgba(77, 77, 77, 0.144);
  transition: 0.3s;
}

.btn--finish-task {
  color: green;
}

.btn--delete-task {
  color: rgb(128, 0, 0);
}
