body {
  height: 100vh;
  font-family: "Caveat", cursive;
  background-color: #f4f0e59c;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  height: 100vh;
  font-size: 2rem;
}

.input-group {
  margin-top: 2rem;
  padding-left: 2rem;
}

.title {
  padding: 0.5rem;
  color: #272727b9;
}

.input-line {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

.input {
  width: 55%;
  height: 3rem;
  padding: 0.3rem;
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "Caveat", cursive;
  border: none;
  background-color: #fcf9f8;
  color: #272727;
  outline: none;
  box-shadow: 0 0 10px #27272718;
  border-radius: 4px 0 0 4px;
}

.btn--add-task {
  width: 8%;
  border: none;
  background-color: #a19792;
  color: rgba(0, 0, 0, 0.534);
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1.8px;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 0 10px #27272734;
}

.btn--add-task:hover {
  cursor: pointer;
  background-color: #a19792da;
  transition: 0.2s ease-in-out;
}

.sort-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#sort-letters {
  width: 3rem;
  background: transparent;
  outline: none;
  border: none;
  color: #65554d;
  cursor: pointer;
}

.task-list {
  width: 100%;
  height: 75%;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f4f0e59c;
  box-shadow: 0px 0px 15px 5px rgba(163, 163, 163, 0.144);
}

.task {
  width: 45%;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
}

.task-line {
  display: flex;
}

.task-name {
  width: 80%;
  font-size: 1.8rem;
  padding: 0.7rem 1.2rem;
  color: #65554d;
  background-color: #f8f8f6;
  border-radius: 4px 0 0 4px;
}

.task-done {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: 2px solid #a197929d;
  border-radius: 3px;
  outline: none;
  color: #272727;
  width: 20px;
  height: 20px;
  align-self: center;
  transition: border-color 0.2s;
}

.task-done:checked {
  border-color: #65554d;
  background-color: #65554d50;
}

.task-done::before {
  content: "\2713";
  display: block;
  text-align: center;
  visibility: hidden;
  color: #65554d;
  line-height: 16px;
}

.task-done:checked::before {
  visibility: visible;
}

.date-span {
  font-size: 1.3rem;
  color: #27272794;
  margin-left: 3rem;
  margin-top: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.finished {
  text-decoration: line-through #65554d8e;
  color: #65554d8e;
  font-style: italic;
}

.btn--delete-task {
  font-size: 1.3rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: #65554d;
  align-self: center;
  background-color: #f8f8f6;
  border-radius: 0 4px 4px 0;
}

.btn--delete-task:hover {
  box-shadow: 0px 0px 5px 5px rgba(216, 216, 216, 0.137);
  transition: 0.2s;
}
